#time{
  padding-left: 12%;
  font-weight: bold;
  font-weight: 900;
  font-size: 22px;
}
#date{
  padding-right: 10%;
  padding-left: 30%;
   font-weight: bold;
   font-weight: 900;
   font-size: 22px;

}
#timer{
  font-weight: bold;
  font-weight: 900;
  font-size: 22px;
}

.container
{
  margin-top: 5%
}
